@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-family: sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg,#2b5d62,#5450c8);
    background-size: cover;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    overflow-y: auto;
    background-color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

.limiter {
    width: 100%;
    margin: -12px auto;
}

.container-table100 {
    width: 97%;
    min-height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 31px auto;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.wrap-table100 {
    width: 1770px;

}

table thead tr {
    height: 60px;
    background: #36304a;
}

table * {
    font-size: 0.9rem;
    position: relative;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

.column1 {
    width: 160px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 285px;
    /* padding-left: 100px;     */
}

table td, table th {
    text-align: left;
}

.column4 {
    width: 95px;
    text-align: center;
}

.column5 {
    width: 40px;
    text-align: center;
}
.column6 {
    width: 40px;
    text-align: center;
    padding-right: 62px;
}

table tbody tr {
    height: 50px;
}

.headerTable{
    height: 210px;
    background: linear-gradient(45deg,#2b5d62,#5450c8);
    margin: 18px;
    color: white;
    border: 0.1px solid black;
    border-radius: 14px;
}


.headertitle{
    padding-top: 5px;
    background: linear-gradient(45deg,#2b5d62,#5450c8);
    
}

.headerElem{
    display: flex;
    justify-content: space-between;
}

.totalpages{
    display: flex;
    margin-right: 60px;
    text-align: right;
    flex-direction: column;
}

.LatestData{
    height: fit-content;
}

.empty_data{
    height: 500px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.CheckingInfo{
    margin-left: 10px;
}

.current-page-real{
    background: white;
    padding: 5px 7px;
}