{% extends 'templates/base.html' %}
{% load static %}

{% block title %}Account Information{% endblock title %}

{% block content %}

<style>
    body{
        color:white;
        background: #000;
    }

    .accountBox{
        justify-content: center;
        border: 2px solid;
        margin: 100px auto;
        width: 300px;
        box-shadow: rgba(255, 255, 255, 0.4) 3px 7px 40px 13px;
    }
    .containerother{
        justify-content: center;
        margin: 10px auto;
        width:300px;
    }
    

</style>

<div class="container accountBox">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            {% if MY_IMAGE_URL %}
            Image: <img src="{{MY_IMAGE_URL }}" alt="My Image" style="width: 100px ;margin-left: 30px;">
            {% endif %}
        </li>
        
        <li class="nav-item">
            Username: {{user.username}}
        </li>
        <li class="nav-item">

            Email: {{user.email}}
        </li>
        <li class="nav-item">
            <div class="containerother">
                <a href="#" class='text-decoration-none mx-5'>Change Password</a>
            </div>
        </li>
    </ul>
</div>


<script src="static\account.js"></script>

{% endblock content %}