{% extends 'base.html' %}

{% block content %}
<h3 class="my-5 mx-5 headText" style="font-family: 'Helvetica Neue', sans-serif; font-size: 2.5rem; color: #333; letter-spacing: 1px; text-transform: uppercase;">Analytics Dashboard</h3>
{% if items %}
<table class="table mx-auto w-80">
    <thead class="thead-dark bg-dark">
      <tr>
        <th scope="col">
          <label class="control control--checkbox">
            <input type="checkbox" class="js-check-all"/>
            <div class="control__indicator"></div>
          </label>
        </th>
        <th scope="col" class="headOftable">ID</th>
        <th scope="col" class="headOftable">Name</th>
        <th scope="col" class="headOftable">Designation</th>
        <th scope="col" class="headOftable">Pattern</th>
        <th scope="col" class="headOftable">Email</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <th scope="row">
                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
            </th>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>HOD</td>
            <td class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </td>
            <td>{{ item.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if items.has_previous or items.has_next %}
<div class="pagination justify-content-center">
    {% if items.has_previous %}
    <a class="btn btn-outline-primary item-number text-white" href="?page={{ items.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="item-number current-page mx-3 text-white my-1">Page: {{ items.number }}</span>
    {% if items.has_next %}
    <a class="btn btn-outline-primary item-number text-white" href="?page={{ items.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endif %}
{% else %}
<p>No data found.</p>
{% endif %}
{% endblock %}