{% extends 'templates/base.html' %}
{% load static %}

{% block title %}Analytics | Efficiently Organize and Access Data{% endblock title %}

{% block sttylesheets %}
<link rel="stylesheet" href="{% static 'analytics.css' %}">
{% endblock sttylesheets %}


{% block content %}
<div class="header">
  <div class="headerTable">
    <br><div class="headertitle"><h2 class="mx-2">Dashboard</h2></div></br>
    <div class="headerElem h6">
      <div class="h6">Checking: {{Company}}</div>
      <div class="h6">Domain: {{Domain}}</div>
      <div class="h6">Total User: {{totalProfiles}}</div>
      <a href="/company/{{id}}/" class="text-decoration-none text-dark">View</a>

    </div>
    <div class="totalpages">
      {% if totalCheckedProfiles %}
      <div class="h6">Total Companies: {{totalCheckedProfiles}}/{{total_documents}}</div>
      {% else %}
      <div class="h6">Total Companies: {{total_documents}}</div>
      {% endif %}
      <div class="h6">Total Profiles: {{total_profiles_count}}</div>
      
      {% if total_pages %}
      <p>Total Pages: {{total_pages}}</p>
      {% endif %}

    </div>
  </div>
</div>
{% if items %}
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th scope="col" class="column1">Company Name</th>
            <th scope="col" class="column2">Domain</th>
            <th scope="col" class="column3">Profile Link Company</th>
            <th scope="col" class="column4">Total Profiles</th>
            <th scope="col" class="column5">Action</th>
            <th scope="col" class="column6">Status</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <form id="my-form" method="POST">
            {% csrf_token %}
            {% for item in items %}
            <tr data-item-id="{{ item.id }}">
              <td class="column1 company">{{ item.Company }}</td>
              <td class="column2 domain">{{ item.Domain }}</td>
              <td class="column3 Profile" name="profile{{ item.id }}">{{ item.company_link }}</td>
              <td class="column4 totalProfile" name="totalProfiles">{{ item.totalProfiles }}</td>
              <td class="column5"><a class="view text-decoration-none text-dark" href="{% url 'company_website' item.id %}">View</a></td>
              <td class="column6 status col-1" name="status">{{ item.status }}</td>
            </tr>
            {% endfor %}
          </form>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if items.has_previous or items.has_next %}
<div class="pagination justify-content-center my-2">
  {% if items.has_previous %}
  <a class="btn btn-outline-primary item-number text-dark" href="?page={{ items.previous_page_number }}">Previous</a>
  {% endif %}
  <span class="item-number current-page mx-3 my-1 text-dark">Page: {{ items.number }}</span>
  <a class="item-number current-page mx-3 my-1 text-light" href="/data?page={{items.number|add:1}}">{{items.number|add:1}}</a>
  <a class="item-number current-page mx-3 my-1 text-light" href="/data?page={{items.number|add:2}}">{{items.number|add:2}}</a>
  <a class="item-number current-page mx-3 my-1 text-light" href="/data?page={{total_pages}}">{{total_pages}}</a>
  {% if items.has_next %}
  <a class="btn btn-outline-primary item-number text-dark" href="?page={{ items.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endif %}
{% else %}
<p class="mx-5">No data found.</p>
{% endif %}
{% block scripts %}
<script src="{% static 'main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function submitForm(event) {
    event.preventDefault(); // Prevent default form submission behavior
    var form = document.getElementById("my-form");
    var formData = new FormData(form); // Create form data object
    var xhr = new XMLHttpRequest(); // Create new XMLHttpRequest object
    xhr.open("POST", "/submit-form/"); // Set request method and URL
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        // Handle success response
        console.log("Form Submit")

      } else if (this.status >= 400) {
        // Handle error response
        console.log("Form Eror")

      }
    };
    xhr.send(formData); // Send form data object in the request
  }

</script>


{% endblock scripts %}
{% endblock %}