{% extends 'templates/base.html' %}
{% load static %}

{% block title %}{{mainTitle}} Company data{% endblock title %}

{% block sttylesheets %}
<link rel="stylesheet" href="{% static 'viewdata.css' %}">
{% endblock sttylesheets %}


{% block content %}
<div class="header">
  <div class="headerTable">
    <br><div class="headertitle mx-2"><h2>Build Query: {{mainTitle}}</h2></div></br>
    <div class="headerElem h6">Status: {{status}}</div>
    <div class="headerElem h6">Total Profiles: {{profiles}}</div>
    {% if totalpages %}
    <div class="totalpages">
      <p>Total Pages: {{totalpages}}</p>
    </div>
    {% endif %}
  </div>
</div>

{% if companies %}
<div class="selectAllkeys" style="display: none">
  <div type="hidden" class="Instruct hidden my-2" >
  All 10 companies are selected <a href="#" id="clearSelection" value=""></a><a href="#" id="selectAllcheckbox" onclick="allselect(this)" class="mx-2" > Select All {{profiles}} profiles</a>         
  </div>
  <div class="downloadAll">
    <button class="btn btn-primary">Download</button>
  </div>
</div>
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th scope="col" class="column1">
                <label class="control control--checkbox">
                  <input type="checkbox" class="js-check-all" />
                  <div class="control__indicator"></div>
                </label>
              </th>
              <th scope="col" class="column2">Firstname</th>
              <th scope="col" class="column3">Lastname</th>
              <th scope="col" class="column4 px-5">Website</th>
              <th scope="col" class="column5 px-5">Designation</th>
              <th scope="col" class="column6">Profile Link</th>
              <th scope="col" class="column7">Pattern</th>
              <th scope="col" class="column8 col-3 px-5">Email</th>
              <th scope="col" class="column9 col-3 px-5">Verification</th>
            </tr>
          </thead>
          <tbody id="table-body">
            <form id="my-form" method="POST">
              {% csrf_token %}
              <input type="hidden" class="checkcheckboxes" name="checkcheckboxes" value="None">
              {% for company in companies %}
              <tr data-item-id="{{ company.id }}">
                <th scope="row" class="column1">
                  <label class="control control--checkbox">
                    <input type="checkbox" class="check-one" />
                    <div class="control__indicator"></div>
                  </label>
                </th>
                <td class="column2 first">{{ company.first }}</td>
                <td class="column3 last">{{ company.last }}</td>
                <td class="column4 website">{{ company.website }}</td>
                <td class="column5">{{company.designation}}</td>
                <td class="column6"><a class="text-decoration-none text-dark" href="{{company.Profile_Link}}">Open</a></td>
                
                <input type="hidden" class="item_id" name="item_id" value="{{ company.id }}">
                <input type="hidden" name="patternTransfer" id="clicked_button" value="none">
                <input type="hidden" class="updateEmail" name="updatedEmail{{ company.id }}" value="None">
                <td class="dropdown column7">
                  <button class="button-8 dropdown-toggle py-2" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    
                    Choose Pattern
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstname.lastname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstinitiallastname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstname.lastinitial</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstnamelastinitial</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastinitialfirstname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstnamelastname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastname.firstname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastnamefirstname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstinitial.lastname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstinitiallastinitial</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastinitialfirstinitial</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">firstname-lastname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastname.firstname</a>
                    <a class="dropdown-item" href="#" onclick="updateButtonName(event,this)">lastinitial.firstname</a>
                  </div>

                </td>
                <td class="column8 Email col-3" name="latestEmail{{ company.id }}">{{company.email}}</td>
                {% if company.email != 'none' %}
                <td class="column9 Verification col-1" name="EmailVerification">{{company.Verification}}</td>
                {% else %}
                <td class="column9 Verification col-1" name="EmailVerification">none</td>
                {% endif %}
              </tr>
              {% endfor %}
            </form>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% if companies.has_previous or companies.has_next %}

<div class="pagination justify-content-center my-2">
  {% if companies.has_previous %}
  <a class="btn btn-outline-primary item-number text-dark" href="?page={{ companies.previous_page_number }}">Previous</a>
  {% if companies.number|add:-1 != 1 %}
  <a class="item-number current-page mx-3 my-1 text-light" href="?page=1">1</a>
  {% endif %}
  {% if companies.number > 3 %}  
  <a class="item-number current-page mx-3 my-1 text-light" href="?page=2">...</a>
  {% endif %}

  <a class="item-number current-page mx-3 my-1 text-light" href="?page={{companies.number|add:-1}}">{{companies.number|add:-1}}</a>

  {% endif %}
  <span class="item-number current-page-real mx-3 my-1 text-dark">{{ companies.number }}</span>
  {% if companies.number|add:1 < totalpages %}
  <a class="item-number current-page mx-3 my-1 text-light" href="?page={{companies.number|add:1}}">{{companies.number|add:1}}</a>
  {% endif %}
  {% if companies.number|add:2 < totalpages %}
  <a class="item-number current-page mx-3 my-1 text-light" href="?page={{companies.number|add:2}}">{{companies.number|add:2}}</a>
  {% endif %}
  {% if totalpages > companies.number %}
  {% if totalpages > companies.number|add:3 %}
  <a class="item-number current-page mx-3 my-1 text-light" href="?page={{totalpages|add:-1}}">...</a>
  {% endif %}
  <a class="item-number current-page mx-3 my-1 text-light" href="?page={{totalpages}}">{{totalpages}}</a>
  {% endif %}

  {% if companies.has_next %}
  <a class="btn btn-outline-primary item-number text-dark" href="?page={{ companies.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endif %}
{% else %}
<div class="empty_data">
  <h5 class="No_data">No data found.</h5>
</div>
{% endif %}
{% block scripts %}
<script>
  var profiles = "{{ profiles }}";
</script>
<script src="{% static 'main.js' %}"></script>

<script>
  function submitForm(event) {
    event.preventDefault(); // Prevent default form submission behavior
    var form = document.getElementById("my-form");
    var formData = new FormData(form); // Create form data object
    var xhr = new XMLHttpRequest(); // Create new XMLHttpRequest object
    xhr.open("POST", "/submit-form/"); // Set request method and URL
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        // Handle success response
        console.log("Form Submit")

      } else if (this.status >= 400) {
        // Handle error response
        console.log("Form Eror")

      }
    };
    xhr.send(formData); // Send form data object in the request
  }

</script>

{% endblock scripts %}

{% endblock %}